name: Altium Whitepaper Build

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Compile LaTeX document
      uses: xu-cheng/latex-action@v3
      with:
        root_file: altium-whitepaper/main.tex
    - name: Upload PDF file
      uses: actions/upload-artifact@v3
      with:
        name: PDF
        path: altium-whitepaper/main.pdf
